/* =============
    Section 1
============= */
#home{

    .grid-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
            "left-content text-content";
        
        #left {
            grid-area: left-content;

            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: 
            "look-button"
            "telescope-img";

            #look-up {
                margin: 20px;
                color: $yellow;
                width: 90px;
                height: 90px;
                border: 2px solid;
                border-color: $yellow;
                text-align: center;
                
                text-decoration: none;
                background-color: transparent;
                cursor: pointer;
                opacity: 1;

                transition-duration: 0.4s;

                a {
                    color: $yellow;
                    font-family: 'Lustria', serif;
                    text-decoration: none;
                    text-transform: uppercase;
                }
            }

            #look-up:hover {
                background-color: $yellow
            }

            #telescope {
                grid-area: telescope-img;
                background-image: url(../assets/constellation.png);
                background-repeat: no-repeat;
                background-size: 371px;
                height: 450px;
            }
        }

        #content {
            grid-area: text-content;
            margin-top: 300px;
        }
    }

    .zButton {
        width: 72px;
        height: 72px;
        border: none;
        font-family: 'Lustria', serif;
        // background-color: transparent;
        cursor: pointer;
        opacity: .7;
    }

}
